<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <a href="{{ url_for('detail_entreprise', entreprise_id=entreprise.id) }}">{{ entreprise.nom }}</a>
</head>
<body>
    test html
    {% for entreprise in entreprises %}
        <div>{{ entreprise.name }}</div>
    {%endfor%}
</body>
</html>

<form class="d-flex" method="GET" action="{{ url_for('index') }}">
    <input class="form-control me-2" type="search"
placeholder="Rechercher une entreprise..."
aria-label="Search" name="q" value="{{ request.args.get('q', '') }}">
    <button class="btn btn-outline-success"
type="submit">Rechercher</button>
</form>





